h1{
	color: #66BFBF;
	font-family: 'Crimson Text', serif;
	}

h3
{
	color: #66BFBF;
	font-family: 'Crimson Text', serif;
	font-size: 30px;
}

h2
{
    color: #66BFBF;
    font-family: 'Crimson Text', serif;
    font-size: 40px;
}
hr{
	width: 5%;
	border-style: dotted;
	border-bottom: 0px;
	border-width: 10px;
	color:#66BFBF;
}

p{
	color: #40514E;
}

body	
{
	font-family: 'Texturina', serif;
	text-align:center;

}
.top-container{
margin: -10px;
position: relative;
background-color:#c6fced;	
padding-top:80px;
font-size: 30px;
}

.top-cloud{
	position: absolute;
	margin: -30px 130px  ;
}

.bottom-cloud{
	    position: absolute;
    margin-top: 0px;
    margin-left: -60px;
}

.middle-container{
	margin: 30px auto;

}
.skill{
	text-align: left;
}

.skill-row
{
	width: 50%;
	margin: 50px auto 50px auto;
	text-align: left;
	line-height: 2;

}

.img-computer
{
	width: 25%;
	float: left;
	margin-right: 10px;
}

.img-chillies{
	width: 25%;
	float: right;
	margin-left: 10px;
}

.contact-me
{

	margin: 50px auto 50px auto;
}
.btn {	

  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #66BFBF;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container{
	padding: 50px 0px 30px;
	background-color: #66BFBF;
}

.footer-link{
	color: #11999E;
	font-size: 20px;
	margin: 10px 20px;
	text-decoration: none;
}